<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAtPMn2Xh2dgLwA4sqGAvrK3XRDLL6-g7M</string>
	<key>GCM_SENDER_ID</key>
	<string>422352664713</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.JenniCare.JenniCare</string>
	<key>PROJECT_ID</key>
	<string>jennicare-243a7</string>
	<key>STORAGE_BUCKET</key>
	<string>jennicare-243a7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:422352664713:ios:6155718b748c0eaba0ae58</string>
</dict>
</plist>